# Ignore configuration file
config.py

# Ignore Jupyter notebooks
*.ipynb

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

*.npy
*.png
.ipynb_checkpoints/

#ignore folders
sample_wsi_results